# EditorConfig is awesome: http://EditorConfig.org

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,js}]
indent_style = space
indent_size = 2

# JSON-Files
[*.json]
indent_style = tab
indent_size = 4

# ReST-Files
[*.rst]
indent_style = space
indent_size = 3

# package.json
# .travis.yml
# bower.json
[{package.json,.travis.yml,bower.json,composer.json}]
indent_style = space
indent_size = 2

# TypoScript
[{*.typoscript,*.tsconfig,setup.txt,constants.txt,ext_typoscript_setup.txt,ext_typoscript_constants.txt,ext_conf_template.txt}]
indent_style = space
indent_size = 2

# XML-Files
[{*.xml,*.xlf}]
indent_style = space
indent_size = 2

# SQL-Files
[*.sql]
indent_style = tab
indent_size = 2

# ChangeLog files
[{ChangeLog,ChangeLog.txt}]
indent_style = tab

# NEON-Files
[*.neon]
indent_size = 2
